@font-face {
  font-family: SuisseIntlMedium;
  src: url(../fonts/SuisseIntl-Medium-WebS.woff2) format("woff2"),
       url(../fonts/SuisseIntl-Medium-WebS.woff) format("woff"),
       url(../fonts/SuisseIntl-Medium-WebS.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: SuisseIntlLight;
  src: url(../fonts/SuisseIntl-Light-WebS.woff2) format("woff2"),
       url(../fonts/SuisseIntl-Light-WebS.woff) format("woff"),
       url(../fonts/SuisseIntl-Light-WebS.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font-light {
  font-family: 'SuisseIntlLight', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-medium {
  font-family: 'SuisseIntlMedium', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}



/* ==========================================================================
   Normalize
   ========================================================================== */

html {
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	padding: 0 0 16em 0;
}

article,
aside,
footer,
header,
nav,
section {
	display: block;
}

figcaption,
figure,
main {
	display: block;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

b,
strong {
  .font-medium;
}

code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

dfn {
	font-style: italic;
}

mark {
	background-color: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

audio,
video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

img {
	border-style: none;
	width: 100%;
	height: auto;
}

svg:not(:root) {
	overflow: hidden;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none !important;
}

button,
input,
optgroup,
select,
textarea {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

fieldset {
	padding: 0.35em 0.75em 0.625em;
	border: 0;
	margin: 0;
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

progress {
	display: inline-block;
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

details,
menu {
	display: block;
}

summary {
	display: list-item;
}

canvas {
	display: inline-block;
}

template {
	display: none;
}

[hidden] {
	display: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

textarea {
	resize: vertical;
}

::-webkit-selection {
  background: @color-accent;
	text-shadow: none;
  color: @color-text-3;
  opacity: 1;
  background-opacity: 1;
}

::-moz-selection {
	background: @color-accent;
	text-shadow: none;
  color: @color-text-3;
  opacity: 1;
  background-opacity: 1;
}

::selection {
	background: @color-accent;
	text-shadow: none;
  color: @color-text-3;
  opacity: 1;
  background-opacity: 1;
}


/* ==========================================================================
   Browser and JS Alerts
   ========================================================================== */

.alert {
	background: #ff0;
  color: black;
	padding: 1em;
	display: block;
	text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9000;
  a {
    text-decoration: underline;
  }
}

#alert-no-js {
  display: none;
}

/* ==========================================================================
   Grid
   ========================================================================== */

.row {
	position: relative;
	width: 90%;
  margin-right: 5%;
  margin-left: 5%;
  padding-top: 2em;
  padding-bottom: 1em;
  @media only screen and (min-width: 56em) {
    padding-top: 3em;
    padding-bottom: 2em;
  }
}

.row [class^="col"] {
	float: left;
	margin-left: 2%;
	margin-right: 2%;
	min-height: 0.125rem;
}

.bump-1-sm {
  margin-left: 10.25% !important;
}
.rel-1-sm {
  position: relative;
  left: 20.5% !important;
}
.pull-1-sm {
  margin-right: 10.25% !important;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
	width: 96%;
}

.col-1-sm {
	width: 4.33%;
}

.col-2-sm {
	width: 12.66%;
}

.col-3-sm {
	width: 21%;
}

.col-4-sm {
	width: 29.33%;
}

.col-5-sm {
	width: 37.66%;
}

.col-6-sm {
	width: 46%;
}

.col-7-sm {
	width: 54.33%;
}

.col-8-sm {
	width: 62.66%;
}

.col-9-sm {
	width: 71%;
}

.col-10-sm {
	width: 79.33%;
}

.col-11-sm {
	width: 87.66%;
}

.col-12-sm {
	width: 96%;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

.hidden-sm {
	display: none;
}

.ib-lg {
	display: inline-block;
}

@media only screen and (min-width: 56em) {
	/* 960px */
  
	.container {
		max-width: 87.5em;
    margin: 0 auto;
	}
	.bump-1 {
		margin-left: 10.25% !important;
	}
  .rel-1 {
    position: relative;
    left: 20.5% !important;
  }
  .pull-1 {
    margin-right: 10.25% !important;
  }
	.col-1 {
		width: 4.33%;
	}
	.col-2 {
		width: 12.66%;
	}
	.col-3 {
		width: 21%;
	}
	.col-4 {
		width: 29.33%;
	}
	.col-5 {
		width: 37.66%;
	}
	.col-6 {
		width: 46%;
	}
	.col-7 {
		width: 54.33%;
	}
	.col-8 {
		width: 62.66%;
	}
	.col-9 {
		width: 71%;
	}
	.col-10 {
		width: 79.33%;
	}
	.col-11 {
		width: 87.66%;
	}
	.col-12 {
		width: 96%;
	}
	.hidden-sm {
		display: block;
	}
  .hidden-lg {
    display: none;
  }
}

/* ==========================================================================
   Layout Helpers
   ========================================================================== */

//.margins(@name:'m';@direction;@increment:1;@max;@unit:em;@index:0) when (@index=<@max) {
//  .margins(@name;@direction;@increment;@max;@unit;(@index+@increment));
//  .@{name}-@{direction}-@{index} {margin-@{direction}:@index@unit;}  
//}
//
//.margins(m;top;1;8;em);

.m-t-0 {
  margin-top: 0;
}

.m-b-0 {
  margin-bottom: 0;
}
.m-l-0 {
  margin-left: 0;
}

.m-r-0 {
  margin-right: 0;
}
.m-t-1 {
  margin-top: 1em;
}

.m-b-1 {
  margin-bottom: 1em;
}
.m-t-2 {
  margin-top: 2em;
}

.m-b-2 {
  margin-bottom: 2em;
}

.m-b-6 {
  margin-bottom: 6em;
}
.m-t-10 {
  margin-top: 10em;
}

.m-b-10 {
  margin-bottom: 10em;
}

.p-t-0 {
  padding-top: 0;
}

.p-b-0 {
  padding-bottom: 0;
}
.p-l-0 {
  padding-left: 0;
}

.p-r-0 {
  padding-right: 0;
}

.center {
  margin-right: auto;
  margin-left: auto;
}

.fl-l-sm {
	float: left !important;
}

.fl-r-sm {
	float: right !important;
}

.text-center-sm {
  text-align: center;
}

.text-right-sm {
  text-align: right;
}

.text-left-sm {
  text-align: left;
}

@media only screen and (min-width: 56em) {
  m-t-0-lg {
    margin-top: 0;
  }

  .m-b-0-lg {
    margin-bottom: 0;
  }
  .m-l-0-lg {
    margin-left: 0;
  }

  .m-r-0-lg {
    margin-right: 0;
  }
  .m-t-1-lg {
    margin-top: 1em;
  }

  .m-b-1-lg {
    margin-bottom: 1em;
  }
  .m-t-2-lg {
    margin-top: 2em;
  }

  .m-b-2-lg {
    margin-bottom: 2em;
  }

  .m-b-6-lg {
    margin-bottom: 6em;
  }
  .m-t-10-lg {
    margin-top: 10em;
  }

  .m-b-10-lg {
    margin-bottom: 10em;
  }
  .text-right {
    text-align: right;
  }

  .text-left {
    text-align: left;
  }
  
  .text-center {
    text-align: center;
  }
  
  .fl-l {
    float: left !important;
  }

  .fl-r {
    float: right !important;
  }
}


/* ==========================================================================
   Colors
   ========================================================================== */

@color-background-1: black;
@color-background-2: white;
@color-background-3: #f2f2f2;
@color-text-1: white;
@color-text-2: #999;
@color-text-3: black;
@color-accent: rgba(129, 143, 225, .99);

.background-color-1 {
  background-color: @color-background-1;
  color: @color-text-1;
}
.background-color-2 {
  background-color: @color-background-2;
  color: @color-text-3;
}
.background-color-3 {
  background-color: @color-background-3;
  color: @color-text-3;
}


/* ==========================================================================
   Typography
   ========================================================================== */

.font-headline {
  .font-medium
}

.font-body {
  .font-light
}

p {
	.font-body;
  line-height: 1.4;
  letter-spacing: 1px;
  margin-top: 0;
  @media only screen and (min-width: 56em) {
    font-size: 1em;
  }
}

h1, .h1, 
h2, .h2, 
h3, .h3, 
h4, .h4, 
h5, .h5, 
h6, .h6 {
	.font-headline;
  font-style: normal;
  font-weight: 400;
  margin-top: 0;
}

.caption {
  font-size: .875em;
  margin-top: 1.5em;
}

.title {
  font-size: 3em;
  margin-bottom: 0;
  margin-top: 2em;
}

h1 {
  font-size: 2.25em;
  letter-spacing: .5px;
  margin-bottom: .5em
}

h2 {
  .font-body;
  font-size: 1.25em;
  letter-spacing: .5px;
  line-height: 1.2;
}

h3 {
  font-size: 1.25em;
  letter-spacing: .5px;
  margin-bottom: .5em;
  margin-top: 1em;
}

@media only screen and (min-width: 40em) {
  p {
    font-size: 1em;
  }

  .title {
    font-size: 3.5em;
    margin-bottom: 0;
  }
  
  h1 {
    font-size: 2.5em;
    line-height: 1.2;
    margin-bottom: .5em;
  }

  h2 {
    font-size: 1.5em;
    line-height: 1.4;
  }

  h3 {
    font-size: 1.25em;
  }
}

@media only screen and (min-width: 56em) {
  p {
    font-size: 1em;
    padding-right: 0;
    padding-left: 0;
  }
  .title {
    margin-top: 0;
  }
  h1,
  .title{
    font-size: 3em;
    line-height: 1.1;
    margin-bottom: .75em;
  }

  h2 {
    font-size: 1.75em;
    line-height: 1.4;
  }

  h3 {
    font-size: 1.25em;
  }
}

@media only screen and (min-width: 86em) {
  .title {
    margin-top: 2em;
  }
  h1,
  .title{
    font-size: 4em;
    margin-bottom: .5em;
  }
  h2 {
    font-size: 2.25em;
  }

  h3 {
    font-size: 1.5em;
  }
}

a, 
a:hover,
a:active,
a:visited {
 text-decoration: inherit;
 color: inherit;
}


/* ==========================================================================
   Animation
   ========================================================================== */


@media only screen and (min-width: 56em) {
  .hide-me {
    opacity: 0;
    position: relative;
    transition: .6s;
    transition-delay: 0;
    top: 1rem;
    will-change: transform, opacity;
  }

  .hide-me.show {
    opacity: 1;
    top: 0;
  }
  .hide-me.show-left {
    transition: .6s;
    left: 1rem;
    top: 0;
    &.show {
      top: 0;
      left: 0;
    }
  }
  .hide-me.show-right {
    transition: .6s;
    left: -1rem;
    top: 0;
    &.show {
      top: 0;
      left: 0;
    }
  }
}

/* ==========================================================================
   Slideshow
   ========================================================================== */

.slideshow-row {
  padding-top: 0;
  padding-bottom: 0;
}

.slideshow-container {
  height: 100%;
}

.slide-counter,
.slide-total {
  display: inline-block;
  width: .6em;
}

.slide-total {
  text-align: right;
}

.fp-controlArrow.fp-next {
  height: 100% !important;
  width: 30% !important;
  top: 2.3em;
  background: none !important;
  border: none !important;
//  -webkit-cursor: e-resize;
//  cursor: e-resize;
  &::after {
    float: right;
    position: relative;
    top: 50%;
    right: 20%;
    content: '';
    display: inline-block;
    height: 2em !important;
    width: 2em !important;
    background: none !important;
    border-top: 2px solid @color-text-1 !important;
    border-right: 2px solid @color-text-1 !important;
    border-left: none !important;
    border-bottom: none !important;
    transform: rotate(45deg) translateY(-1.5em) scale(.75);
    @media only screen and (min-width: 56em) {
      transform: rotate(45deg) translateY(-1.5em) scale(1);
    }
  }
}

.fp-controlArrow.fp-prev {
  height: 100% !important;
  width: 30% !important;
  top: 2.3em;
  background: none !important;
  border: none !important;
//  -webkit-cursor: w-resize;
//  cursor: w-resize;
  &::after {
    float: left;
    position: relative;
    top: 50%;
    left: 20%;
    content: '';
    display: inline-block;
    height: 2em !important;
    width: 2em !important;
    background: none !important;
    border-top: 2px solid @color-text-1 !important;
    border-left: 2px solid @color-text-1 !important;
    border-right: none !important;
    border-bottom: none !important;
    transform: rotate(315deg) translateY(-1.5em) scale(.75);
    @media only screen and (min-width: 56em) {
      transform: rotate(315deg) translateY(-1.5em) scale(1);
    }
  }
  
}


/* ==========================================================================
   Page
   ========================================================================== */

html {
	color: @color-text-1;
	background: @color-background-1;
	.font-body;
	height: 100%;
	width: 100%;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 2px solid @color-text-1;
	margin: 1em 0 2em;
	padding: 0;
  @media only screen and (min-width: 56em) {
    margin: 1.5em 0 3em;
  }
}

.no-fouc {
  display: none;
}

.no-js {
  .body {
    opacity: 1;
    transition: 0;
  }
  .hide-me {
    opacity: 1;
  }
  #alert-no-js {
    display: block;
  }
}
  
.body {
  opacity: 0;
  transition: opacity 1s;
}

#section-top,
#section-callout {
  transition: background 1s;
  background: none;
}

#background-change-area,
.header {
  background: white;
}

footer {
  padding-top: 12em;
  .background-color-1;
  transition: 1s;
  img {
    opacity: 1;
    transition: 1s;
  }
}

.scrolled {
  .body {
    opacity: 1;
    transition: opacity 1s;
  }
  footer {
    background: @color-background-3;
    color: @color-background-3;
    img {
      opacity: 0;
    }
  }
  #section-top,
  #section-callout {
    background: white;
    transition: background 1s;
  }
  #parallax-background {
    opacity: 0;
    transition: 1s;
  }
}

#parallax-scene {
  position: fixed;
  overflow: hidden;
  height: 120%;
  top: -10%;
  width: 100%;
  z-index: -9999;
}

#parallax-background {
  height: 105%;
  width: 105%;
  margin: -2.5%;
  background: url('../img/The_Wilson_background-pattern.svg');
  background-position: center;
  background-size: cover;
  position: absolute;
  overflow: hidden;
  transition: opacity 1s;
  &.faded-out {
    opacity: 0;
  }
}

.logo {
  margin: 1em auto;
  max-width: 12em;
  transition: 2s;
  @media only screen and (min-width: 56em) {
    max-width: 20em;
  }
  @media only screen and (min-width: 86em) {
    max-width: 30em;
  }
}

.address {
  transition: 2.5s;
  transition-delay: .5s;
}

.section {
  min-height: 100%;
  height: 100%;
}

#section-body-1 {
  padding-top: 2em;
}

.body {
  z-index: 1000;
}

.body .section {
  padding-top: 2em;
  padding-bottom: 4em;
  @media only screen and (min-width: 56em) {
    padding-top: 9em;
    padding-bottom: 10em;
  }
}

@media only screen and (min-width: 56em) {
  .position-absolute-lg {
    position: absolute;
  }
}

.sub-section {
//  padding-top: 6em;
//  padding-bottom: 6em;
//  @media only screen and (min-width: 56em) {
//    padding-top: 12em;
//    padding-bottom: 12em;
//  }
}

#section-callout {
  @media only screen and (min-width: 56em) {
    text-align: left;
  }
}

.header {
  width: 100%;
  text-align: center;
  padding: .75em 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 8000;
  transition: .6s;
  @media only screen and (min-width: 56em) {
    padding: 1em 0;
  }
  &.top {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
    & .header-logo {
      @media only screen and (min-width: 56em) {
        height: 3em;
      }
    }
  }
}

.header-logo {
  background-image: url('../img/The_Wilson_LOGO_black.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 2.75em;
  @media only screen and (min-width: 56em) {
    height: 5em;
  }
}

.gradient-image {
  background: #a1adff; /* Old browsers */
  background: -moz-linear-gradient(45deg, #f0f1f8 34%, #a1adff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #f0f1f8 34%,#a1adff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #f0f1f8 34%,#a1adff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

footer {
//  z-index: -1000;
  padding-bottom: 22em;
  a:hover,
  a:hover:before {
    color: @color-accent;
    transition: .2s;
  }
  @media only screen and (min-width: 56em) {
      text-align: left;
    padding-top: 14em;
  }
  .footer-email {
    @media only screen and (min-width: 56em) and (max-width: 80em) {
      font-size: 1.25em;
    }
  }
}

.download-link-small {
  &:before {
    font-family: 'LineAwesome';
    font-weight: normal;
    content: '\F11F';
    text-decoration: none;
    border-bottom: 1px solid;
    position: relative;
    top: -6px;
    padding-bottom: 3px;
    font-size: .8em;
    transition: .2s;
    text-align: center;
  }
  &:hover {
    &:before {
      top: -4px;
      padding-bottom: 1px;
    }
  }
}

.download-link {
  &:before {
    font-family: 'LineAwesome';
    font-weight: normal;
    content: '\F11F';
    text-decoration: none;
    border-bottom: 1px solid;
    position: relative;
    top: -6px;
    padding-bottom: 3px;
    font-size: .8em;
    transition: .2s;
    text-align: center;
    @media only screen and (min-width: 56em) {
      border-bottom: 2px solid;
    }
  }
  &:hover {
    &:before {
      top: -4px;
      padding-bottom: 1px;
    }
  }
}

.carr-logo {
  max-width: 16em;
}
.transwestern-logo {
  max-width: 20em;
  margin-bottom: 1em;
}

.secondary-logo-link {
  display: block;
    @media only screen and (min-width: 56em) {
      text-align: left;
  }
}

#carr-properties-logo {
  margin-left: -1em;
}

.social-link {
  font-size: .8em;
  display: inline-block;
  padding-right: .25em;
}

//
//#mc_embed_signup {
//  
//  font-size: 1.25em;
//  
//  #mce-EMAIL-label {
//    text-transform: uppercase;
//    padding-right: .5em;
//    display: block;
//    margin-bottom: .5em;
//    @media only screen and (min-width: 48em) {
//      display: inline-block;
//    }
//  }
//  
//  #mce-EMAIL {
//    .font-body;
//    border-left: 0;
//    border-right: 0;
//    border-top: 0;
//    border-bottom: 2px solid @color-text-1;
//    border-radius: 0 !important;
//    background: none;
//    color: @color-text-2;
//    font-size: .8em;
//    padding: .2em .2em 0 .2em;
//    margin-bottom: .2em;
//    transition: all .2s ease-out;
//    
//    &:-webkit-autofill {
//      -webkit-box-shadow: 0 0 0 30px @color-background-1 inset !important;
//      -webkit-text-fill-color: @color-text-2 !important;
//    }
//    
//    &:focus {
//      padding-bottom: .2em;
//      margin-bottom: 0;
//    }
//    
//  }
//  
//  div.mce_inline_error {
//    background: none !important;
//    font-style: italic !important;
//    font-weight: 500 !important;
//    color: @color-text-2 !important;
//    font-size: .8em;
//  }
//  
//  #mc-embedded-subscribe {
//    display: inline-block;
//    
//    .font-body;
//    text-transform: uppercase;
//    color: @color-background-1 !important;
//    
//    background: @color-background-1 !important;
//    outline: none !important;
//    border: 0;
//    
//    width: 0;
//    padding: 0;
//    
//    &:hover,
//    &:active,
//    &:focus {
//      outline: none !important;
//    }
//    
//  }
//  
//  #mce-submit-label-img {
//    height: 1em;
//    width: auto;
//  }
//  
//  #mce-success-response:before {
//    display: inline-block;
//    content: "";
//    width: 2em;
//    height: 2em;
//    background: url('../img/submit-check-100px.png') no-repeat center;
//    background-size: contain;
//    position: relative;
//    top: .6em;
//    margin-right: .2em;
//  }
//  
//  #mce-success-response {
//    text-transform: uppercase;
//    position: relative;
//    top: -1em;
//  }
//  
//  #mce-error-response {
//    color: @color-text-2;
//    font-style: italic;
//    font-size: .8em;
//    margin-top: 1em;
//    a {
//      text-decoration: underline;
//    }
//  }
//  
//}
//

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide with opacity
 */

.opacity-zero {
  opacity: 0;
}




/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
